<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/Public/css/index.css" rel="stylesheet" type="text/css" />
</head>

<body> 
 
        <div class="content user_list_content">
          <h2 class="clear"><span class="l name">客户列表</span></h2>
          <p class="search clear">
            <form method="post" action="/Member/member_list_show">
              姓名：<input type="text" name="name" value="{$data_P['name']}" />
              年龄：<input type="text" name="age_min"  value="{$data_P['age_min']}" style="width:30px;" />~<input type="text" name="age_max"  value="{$data_P['age_max']}" style="width:30px;" />
              工作性质：<input type="text" name="work" value="{$data_P['work']}" />
              职务：<input type="text" name="job" value="{$data_P['job']}" />
              <input class="search_submit r button" type="submit" value="搜索" />
            </form>
          </p>
          <br>
          <br>
		      <table class="user_list"   cellpadding="0" cellspacing="0" border="1" bordercolor="#eaeaea" width="100%" style="border-collapse:collapse;">
            <thead>
              <tr>
                <th align="center" valign="middle">序号</th>
                <th align="center" valign="middle">姓名</th>
                <th align="center" valign="middle">年龄</th>
                <th align="center" valign="middle">工作性质</th>
                <th align="center" valign="middle">家庭住址</th>
                <th align="center" valign="middle">历史签证</th>
                <th align="center" valign="middle">真实目的</th>
                <th align="center" valign="middle">手机号码</th>
                <th align="center" valign="middle">签证国家</th>
                <th align="center" valign="middle">文案备注</th>
                <th align="center" valign="middle">顾问备注</th>
                <th align="center" valign="middle">管理员备注</th>
                <th align="center" valign="middle">操作</th>
              </tr>
            </thead>
            <tbody>
            	<foreach name="member_list" item="v" key="k" >
				      <tr>
            		<td align="center" valign="middle">{$k+1}</td>
            		<td align="center" valign="middle"><a href="/Member/member_info?id={$v['id']}" style="color:#2868c8"><b>{$v['name']}</b></a></td>
            		<td align="center" valign="middle">{$v['age']}</td>
            		<td align="center" valign="middle">{$v['work']}</td>
                <td align="center" valign="middle"><if condition="$Think.session.admin_level gt 1 ">{$v['address']}<else />******</if></td>
                <td align="center" valign="middle">{$v['visa_history']}</td>
                <td align="center" valign="middle">{$v['purpose']}</td>
                <td align="center" valign="middle"><if condition="$Think.session.admin_level gt 1 ">{$v['phone']}<else />******</if></td>
                <td align="center" valign="middle">{$v['city_history']}</td>
                <td align="center" valign="middle">{$v['remark_copywriter']}</td>
                <td align="center" valign="middle">{$v['remark_consultant']}</td>
                <td align="center" valign="middle">{$v['remark_admin']}</td>
                <td align="center" valign="middle"><a href="/Member/member_edit_show?id={$v['id']}">编辑</a> | <a onclick="return confirm('您真的要删除此客户吗?')" href="/Member/member_delete?id={$v['id']}">删除</a></td>
            	</tr>
				    </foreach>
            </tbody>
          </table>
          <p class="page">{$page}</p>
		  <br>
		</div>
      </div>
 <script type="text/javascript" src="/Public/js/jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="/Public/js/global.js"></script>
  
</body>
</html>
