<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/Public/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="content shop_list_content">
    <h2 class="clear"><span class="l name">客户详情</span></h2>
    <div class="add_shop_wrapper">
      <div class="add_shop_user_wrapper">
        <div class="add_new_user">
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">姓名</span>
				<input name="name" id="pro_sort" class="l cai_name" type="text" size="50" value="{$member['name']}" readonly /><br/>
			</p>
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">年龄</span>
				<input name="age" id="pro_sort" class="l cai_name" type="text" size="50" value="{$member['age']}" readonly/><br/>
			</p>
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">工作性质</span>
				<input name="work" id="pro_sort" class="l cai_name" type="text" size="50" value="{$member['work']}" readonly/><br/>
			</p>
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">地址</span>
				<input name="address" id="pro_sort" class="l cai_name" type="text" size="50" value="<if condition="$Think.session.admin_level gt 1 ">{$member['address']}<else />******</if>" readonly/><br/>
			</p>
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">历史签证</span>
				<input name="visa_history" id="pro_sort" class="l cai_name" type="text" size="50" value="{$member['visa_history']}" readonly/><br/>
			</p>
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">真实目的</span>
				<input name="purpose" id="pro_sort" class="l cai_name" type="text" size="50" value="{$member['purpose']}" readonly/><br/>
			</p>
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">手机号码</span>
				<input name="phone" id="pro_sort" class="l cai_name" type="text" size="50" value="<if condition="$Think.session.admin_level gt 1 ">{$member['phone']}<else />******</if>" readonly/><br/>
			</p>
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">签证国家</span>
				<input name="city_history" id="pro_sort" class="l cai_name" type="text" size="50" value="{$member['city_history']}" readonly/><br/>
			</p>
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">文案备注</span>
				<textarea name="remark_copywriter" id="pro_sort" class="l cai_name" type="text" style="margin: 0px; width: 380px; height: 100px;" readonly>{$member['remark_copywriter']}</textarea><br/>
			</p>
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">顾问备注</span>
				<textarea name="remark_consultant" id="pro_sort" class="l cai_name" type="text" style="margin: 0px; width: 380px; height: 100px;" readonly>{$member['remark_consultant']}</textarea><br/>
			</p>
			<p class="clear input_wrapper">
				<span class="l" style="width:100px">管理员备注</span>
				<textarea name="remark_admin" id="pro_sort" class="l cai_name" type="text" style="margin: 0px; width: 380px; height: 100px;" readonly>{$member['remark_admin']}</textarea><br/>
			</p>
        </div>
     	</div>
    </div>
  </div>
</body>
</html>
