<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-store" /> 
<meta http-equiv="Pragma" content="no-cache" />
<title></title>
<meta content="" name="keywords" />
<meta content="" name="description" />
<link href="/Public/css/css.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/Public/images/logo.ico"/>
</head>
<body class="body_login"> 

 <div class="login_wrapper login"> 
  <div style="font-size:30px;margin-left: 10px;margin-bottom: 10px;color: #B45F04;">
  <span style="font-size: 22px;">美加澳会员营销系统</span><span style="font-size: 12px;font-weight: bolder;color: #BB5E00;">&nbsp;|&nbsp;用户登录</span></div>
  <form class="login_form" method="post" action="/Login/login">
    <div class="email_wrapper bg_login"><span class="bg_login"></span><em></em><input placeholder="账号" id="account" class="account" name="username" type="text" /></div>
    <div class="password_wrapper bg_login"><span class="bg_login"></span><em></em><input placeholder="密码" id="pwd" class="pwd" name="password" type="password" /></div>
    <input  id="login" class="login_submit bg_login login_button" type="submit" value="登录" /> 
  </form>
</div>


  
  <script type="text/javascript" src="/Public/js/jquery-1.8.0.min.js"></script>
 
  <script type="text/javascript" src="/Public/js/global.js"></script>
</body>
</html>
